@import "tailwindcss";

:root {
  --background: #1e2029;
  --foreground: #ffffff;
  --accent: #00bfa5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-outfit);
  --font-mono: monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}